<!doctype html>
<html class="no-js" lang="en-US" style='margin: 0 !important;'>

<!-- H.k.Y -->
<!-- Haneen K Yousef -->

<head>
    <meta charset="UTF-8" />
    <title>
        Alsi Cola
    </title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="assets/img/alsi/logo.png" type="image/x-icon">

    <script data-minify="1" src="assets/js/jquery.min.js?ver=1656103626"></script>

    <script type='application/json' class='js-products'>
            {
                "cta": {"title":"Find a ALSI COLA"}
            }
    </script>
    <script type="text/javascript" src="assets/js/widget.min.js"></script>
    <span class='mobile-nav__spacer spacer h-[116px] block lg:hidden' style="background-color: #09a0be"></span>
    <!-- FontAwesome link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/color.css">
</head>

<body class="home page-template page-template-homepage page-template-homepage-php page page-id-5 font-alter">
    <!-- desktop navbar -->
    <header class="fixed top-0 left-0 right-0 z-50 block site-header">
        <div class='container w-full h-full mx-auto px-6'>
            <div class='w-full h-full flex eyebrow1 uppercase items-center'>
                <div class='gap-8 hidden lg:flex primary-menu w-5/12 div-header1'>

                    <div class='flex items-center'>
                        <a href='#'>Home</a>
                    </div>
                    <div class='flex items-center'>
                        <a href='#'>About Us</a>
                    </div>
                    <div class='flex items-center'>
                        <a href='#'>Contact Us</a>
                    </div>
                    <div class='flex items-center'>
                        <a href='#'>OUR Story</a>
                    </div>
                    <div class='flex items-center'>
                        <a href='#'>More</a>
                    </div>
                </div>
                <!-- mobile burger menu -->
                <div class='lg:hidden block w-1/3'>
                    <mobile-menu-component>
                        <button class='w-8 mm-open js-mm--open' aria-label='Open mobile menu'>
                            <svg class='w-full' viewBox="0 0 34 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 8.5H33" stroke="#faf6f9" stroke-width="1.5" stroke-linecap="square" />
                                <path d="M1 15.5H33" stroke="#faf6f9" stroke-width="1.5" stroke-linecap="square" />
                                <path d="M1 1.5H33" stroke="#faf6f9" stroke-width="1.5" stroke-linecap="square" />
                            </svg>
                        </button>

                        <button class='w-5 mm-close js-mm--close' aria-label='Close mobile menu'>
                            <svg viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.35348 1.35355L21.1525 21.1525" stroke="#faf6f9" stroke-width="1.5"
                                    stroke-linecap="square" />
                                <path d="M21.1524 1.35355L1.35339 21.1525" stroke="#faf6f9" stroke-width="1.5"
                                    stroke-linecap="square" />
                            </svg>
                        </button>
                    </mobile-menu-component>
                </div>
                <!-- logo -->
                <div class='lg:w-2/12 w-1/3 flex justify-center'>
                    <a href='#' class='logo block'>
                        <img src="assets/img/alsi/logo.png" alt="" srcset="">
                    </a>
                </div>

                <div class='gap-8 justify-end lg:flex hidden secondary-menu w-5/12 div-color'>

                    <div class='flex items-center'>
                        <a href='#'><i class="fab fa-facebook-f"></i></a>
                    </div>
                    <div class='flex items-center'>
                        <a href='#'><i class="fab fa-instagram"></i></a>
                    </div>

                    <div class='flex items-center'>
                        <a href='#'><i class="fab fa-youtube"></i></a>
                    </div>
                    <div class='flex items-center'>
                        <a href='#'><i class="fab fa-twitter"></i></a>
                    </div>
                    <div class='flex items-center '>
                        <a href='#'><i class="fab fa-tiktok"></i></a>
                    </div>
                </div>




            </div>
        </div>
    </header>
    <!-- navbar scroll  -->
    <pixel-component class='absolute w-1 h-1 top-200px'></pixel-component>


    <!-- mobile navbar -->
    <div class='js-mm mm fixed z-40 h-full inset-0 lg:hidden uppercase text-center font-alter' tabindex='0'>

        <div class='pb-16 pt-[116px] h-full p1 font-medium flex flex-col'>

            <nav class='w-full flex-auto overflow-y-scroll hide-scrollbar div-header2'>
                <ul class=' h3 relative z-[5] font-alter '>
                    <span class='block absolute top-px left-0 right-0 w-full opacity-25 div-span1'></span>

                    <li class='px-6 py-4 relative'>
                        <a href='#' class='js-mm-toggle'>Home</a>

                        <span class='block absolute bottom-0 left-0 right-0 w-full opacity-25 div-span1'></span>
                    </li>
                    <li class='px-6 py-4 relative'>
                        <a href='#' class='js-mm-toggle'>About Us</a>

                        <span class='block absolute bottom-0 left-0 right-0 w-full opacity-25 div-span1'></span>
                    </li>

                    <li class='px-6 py-4 relative'>
                        <a href='#' class='js-mm-toggle'>Contact Us</a>

                        <span class='block absolute bottom-0 left-0 right-0 w-full opacity-25 div-span1'></span>
                    </li>

                    <li class='px-6 py-4 relative'>
                        <a href='#' class='js-mm-toggle'>More</a>

                        <span class='block absolute bottom-0 left-0 right-0 w-full opacity-25 div-span1'></span>
                    </li>
                    <li class='px-6 py-4 relative'>

                        <a href='#' class='js-mm-toggle mg-h'><i class="fab fa-facebook-f"></i></a>
                        <a href='#' class='js-mm-toggle mg-h'><i class="fab fa-instagram"></i></a>


                        <span class='block absolute bottom-0 left-0 right-0 w-full opacity-25 div-span1'></span>
                    </li>
                    <li class='px-6 py-4 relative'>


                        <a href='#' class='js-mm-toggle mg-h'><i class="fab fa-youtube"></i></a>
                        <a href='#' class='js-mm-toggle mg-h'><i class="fab fa-twitter"></i></a>
                        <a href='#' class='js-mm-toggle mg-h'><i class="fab fa-tiktok"></i></a>

                        <span class='block absolute bottom-0 left-0 right-0 w-full opacity-25 div-span1'></span>
                    </li>
                </ul>
            </nav>


        </div>

        <div class='absolute bottom-0 left-0 right-0'>


            <img src='' class=' ' alt='' loading='lazy' width='' height='' data-index='' />
        </div>

    </div>

    <div class='fixed top-0 left-0 right-0 z-30 w-full h-screen bg-overlay megamenu-overlay js-megamenu-overlay'></div>
    <div class='fixed top-0 left-0 right-0 z-40 w-full h-screen bg-overlay gate-overlay js-gate-overlay'></div>
    <main role="main" class="site-main min-h-screen">
        <div class="wrapper ">

            <div class='lg:min-h-screen flex flex-wrap items-center relative div-1' data-section='hero'>
                <div
                    class='container mx-auto px-4 lg:text-left text-center pb-0 pt-8 lg:py-32 block relative z-10 lg:z-0'>
                    <div class='lg:w-1/2 w-full lg:pr-20'>
                        <h1 class='h1 uppercase mb-4 lg:mb-10 font-alter'>Better DIFFERENT ALSI COLA TASTE SO COLD </h1>
                        <div class='h6 uppercase mb-8 lg:mb-10'>
                        </div>
                        <div>
                            <a href='#' class='
            
            rounded-full
            overflow-hidden
            inline-block
            tracking-0_04em
            text-32px
            font-gotham-condensed
            uppercase
            leading-none
            font-bold
            whitespace-nowrap
            button
            border-2
          ' data-id='584471' data-is-bundle=''>
                                <span class='flex items-center w-full'>
                                    <span class='flex-auto pl-[24px] pr-[16px] font-alter'>Call US</span>
                                    <span
                                        class='flex items-center justify-center h-full p-6 icon-arrow-container rounded-full'>
                                        <span class='w-4 inline-block'>
                                            <svg viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path class='icon-arrow'
                                                    d="M1 6.99902C0.447715 6.99902 0 7.44674 0 7.99902C0 8.55131 0.447715 8.99902 1 8.99902V6.99902ZM17.7071 8.70613C18.0976 8.31561 18.0976 7.68244 17.7071 7.29192L11.3431 0.927956C10.9526 0.537431 10.3195 0.537431 9.92893 0.927956C9.53841 1.31848 9.53841 1.95164 9.92893 2.34217L15.5858 7.99902L9.92893 13.6559C9.53841 14.0464 9.53841 14.6796 9.92893 15.0701C10.3195 15.4606 10.9526 15.4606 11.3431 15.0701L17.7071 8.70613ZM1 8.99902H17V6.99902H1V8.99902Z" />
                                            </svg>
                                        </span>
                                    </span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class='w-full lg:w-5/12 lg:absolute lg:top-0 lg:right-0 lg:bottom-0 lg:mt-0 -mt-8 overflow-hidden'>
                    <div class='pt-125p lg:pt-0 relative h-0 lg:h-full'>
                        <img src='assets/img/alsi/5.png' class='image-fill ' alt='' loading='lazy' width='646'
                            height='896' data-index='' />
                    </div>
                    <div class='absolute bottom-250px -right-10px w-64 z-10 hidden lg:block'>
                    </div>
                </div>
            </div>

            <div class='relative flex flex-col div-2' data-section='intro'>

                <div class='absolute top-px left-0 right-0 transform -translate-y-full w-full'>
                    <svg class='w-full' viewBox="0 0 1440 92" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M721 28.3988C527.5 70.958 207 123.411 0 9.34447V92H1440V53.9669C1266.5 -14.911 902 -11.4111 721 28.3988Z"
                            fill="#f6f6f6" />
                    </svg>
                </div>

                <div class='overflow-hidden block flex-auto relative'>

                    <div class='container mx-auto px-4 pt-80 lg:pt-40 pb-8'>
                        <h2 class=' 
                  w-full
                  lg:w-2/3
                  mx-auto
                  max-w-[838px]
                  text-center
                  h2
                  color-blues
                  uppercase font-alter
                '>
                            GIVE UP THE lorem,<br>NOT THE lorem
                        </h2>
                    </div>

                    <div class='absolute inset-0 w-full h-full z-10 mx-auto max-w-screen-2xl'>
                        <div
                            class='absolute -right-10px top-80px lg:top-auto design:top-[350px] lg:bottom-90px design:bottom-auto lg:-left-20px z-10'>
                            <div class='w-48 lg:w-87_5 text-center relative flex items-center justify-center'>
                                <img src="assets/img/alsi/cup.png" alt="" srcset="">
                                <div class='w-full pt-100p'>
                                </div>
                            </div>
                        </div>

                        <div
                            class='absolute -left-10px top-10px lg:left-auto lg:top-auto lg:bottom-90px lg:-right-20px z-10'>
                            <div class='w-48 lg:w-87_5 text-center relative flex items-center justify-center'>
                                <img src="assets/img/alsi/cola.png" alt="" srcset="">
                            </div>
                        </div>
                    </div>

                    <div class='relative'>
                        <div class='relative lg:w-225 w-142 left-1/2 transform -translate-x-1/2'>
                            <div class='relative z-10'>
                                <img src='assets/img/alsi/alsecola.png' class=' ' alt='' loading='lazy' width='900'
                                    height='450' data-index='' />
                            </div>
                            <div class='absolute inset-0 w-full h-full'>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='py-16 pb-24 lg:py-24 relative div-3 text-center'>
                <div class='overflow-hidden text-center'>
                    <div class='container mx-auto px-4 text-center d-flexes'>
                        <iframe class="video-div" width="1250" height="615"
                            src="https://www.youtube.com/embed/I_eRX3ogPTg" title="Alsi Cola" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; loop;"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </div>

            <div class='py-16 pb-24 lg:py-24 relative div-3' data-section='product-carousel'>
                <div class='overflow-hidden'>
                    <div class='container mx-auto px-4'>
                        <carousel-component data-id='product_carousel-2'>
                            <div class='flex justify-center lg:justify-between w-full lg:mb-16 mb-10'>
                                <div class='lg:w-3/4'>
                                    <h2 class='h2 uppercase lg:text-left text-center font-alter div-4'>
                                        Our History Collection</h2>
                                </div>
                                <div class='lg:flex gap-3 hidden lg:items-end lg:w-1/4 justify-end'>
                                    <div>
                                        <button class='w-16 js-previous arrow rounded-full border-2'
                                            aria-label='Navigate to previous card icon-arrow'>
                                            <i class="fas fa-arrow-left icon-arrow"></i>
                                        </button>
                                    </div>
                                    <div>
                                        <button class='w-16 js-next arrow rounded-full border-2'
                                            aria-label='Navigate to next card'>
                                            <i class="fas fa-arrow-right icon-arrow"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- Slider main container -->
                            <div class="swiper pb-20">
                                <!-- Additional required wrapper -->
                                <div class="swiper-wrapper">
                                    <!-- Slides -->
                                    <div class="swiper-slide relative div-swipper">
                                        <div class='relative mr-2 ' data-id="5472" data-is-bundle="0"
                                            data-js-grassdoor-product>
                                            <div
                                                class='absolute top-30px left-0 rounded-2xl has-shadow uppercase text-12px tracking-1px py-2 px-4 z-10 font-alter div-5'>
                                                2022
                                            </div>
                                            <a href='#' class='w-full relative mb-6 pt-150p block card'>
                                                <img src='assets/img/alsi/5.png'
                                                    class=' absolute inset-0 w-full h-full object-contain transition duration-300'
                                                    alt='' loading='lazy' width='704' height='1024' data-index='' />
                                                <img src='assets/img/alsi/5.png'
                                                    class=' absolute inset-0 w-full h-full object-contain transition duration-300 card-bg-hover'
                                                    alt='' loading='lazy' width='704' height='1024' data-index='' />
                                            </a>
                                            <div class='text-center mb-6'>
                                                <div class='h4 uppercase mb-2 font-alter'>lorem lorem lorem</div>
                                                <div class='h6 uppercase font-alter'>
                                                    <span class="font-alter" data-js-grassdoor-product-price>250
                                                        ml</span>
                                                </div>
                                            </div>
                                            <div class='flex justify-center' data-js-grassdoor-product-form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide relative div-swipper">
                                        <div class='relative mr-2 ' data-id="5472" data-is-bundle="0"
                                            data-js-grassdoor-product>
                                            <div
                                                class='absolute top-30px left-0 rounded-2xl has-shadow uppercase text-12px tracking-1px py-2 px-4 z-10 font-alter div-6'>
                                                2022
                                            </div>
                                            <a href='#' class='w-full relative mb-6 pt-150p block card'>
                                                <img src='assets/img/alsi/6.png'
                                                    class=' absolute inset-0 w-full h-full object-contain transition duration-300'
                                                    alt='' loading='lazy' width='704' height='1024' data-index='' />
                                                <img src='assets/img/alsi/6.png'
                                                    class=' absolute inset-0 w-full h-full object-contain transition duration-300 card-bg-hover'
                                                    alt='' loading='lazy' width='704' height='1024' data-index='' />
                                            </a>
                                            <div class='text-center mb-6'>
                                                <div class='h4 uppercase mb-2 font-alter'>lorem lorem lorem</div>
                                                <div class='h6 uppercase'>
                                                    <span class="font-alter" data-js-grassdoor-product-price>250
                                                        ml</span>
                                                </div>
                                            </div>
                                            <div class='flex justify-center' data-js-grassdoor-product-form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide relative div-swipper">
                                        <div class='relative mr-2 ' data-id="5473" data-is-bundle="0"
                                            data-js-grassdoor-product>
                                            <div
                                                class='absolute top-30px left-0 rounded-2xl has-shadow uppercase text-12px tracking-1px py-2 px-4 z-10 font-alter div-7'>
                                                1999
                                            </div>
                                            <a href='#' class='w-full relative mb-6 pt-150p block card'>
                                                <img src='assets/img/alsi/4.png'
                                                    class=' absolute inset-0 w-full h-full object-contain transition duration-300'
                                                    alt='' loading='lazy' width='704' height='1024' data-index='' />
                                                <img src='assets/img/alsi/4.png'
                                                    class=' absolute inset-0 w-full h-full object-contain transition duration-300 card-bg-hover'
                                                    alt='' loading='lazy' width='704' height='1024' data-index='' />
                                            </a>
                                            <div class='text-center mb-6'>
                                                <div class='h4 uppercase mb-2 font-alter'>lorem lorem lorem</div>
                                                <div class='h6 uppercase'>
                                                    <span class="font-alter" data-js-grassdoor-product-price>250
                                                        ml</span>
                                                </div>
                                            </div>
                                            <div class='flex justify-center' data-js-grassdoor-product-form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide relative div-swipper">
                                        <div class='relative mr-2 ' data-id="5471" data-is-bundle="0"
                                            data-js-grassdoor-product>
                                            <div
                                                class='absolute top-30px left-0 rounded-2xl has-shadow uppercase text-12px tracking-1px py-2 px-4 z-10 font-alter div-8'>
                                                1950
                                            </div>
                                            <a href='#' class='w-full relative mb-6 pt-150p block card'>
                                                <img src='assets/img/alsi/3.png'
                                                    class=' absolute inset-0 w-full h-full object-contain transition duration-300'
                                                    alt='' loading='lazy' width='704' height='1024' data-index='' />
                                                <img src='assets/img/alsi/3.png'
                                                    class=' absolute inset-0 w-full h-full object-contain transition duration-300 card-bg-hover'
                                                    alt='' loading='lazy' width='704' height='1024' data-index='' />
                                            </a>
                                            <div class='text-center mb-6'>
                                                <div class='h4 uppercase mb-2 font-alter'>lorem lorem lorem</div>
                                                <div class='h6 uppercase'>
                                                    <span class="font-alter" data-js-grassdoor-product-price>250
                                                        ml</span>
                                                </div>
                                            </div>
                                            <div class='flex justify-center' data-js-grassdoor-product-form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide relative div-swipper">
                                        <div class='relative mr-2 ' data-id="1087" data-is-bundle="1"
                                            data-js-grassdoor-product>
                                            <div
                                                class='absolute top-30px left-0 rounded-2xl has-shadow uppercase text-12px tracking-1px py-2 px-4 z-10 font-alter div-9'>
                                                1940
                                            </div>
                                            <a href='#' class='w-full relative mb-6 pt-150p block card'>
                                                <img src='assets/img/alsi/2.png'
                                                    class=' absolute inset-0 w-full h-full object-contain transition duration-300'
                                                    alt='' loading='lazy' width='704' height='1024' data-index='' />
                                                <img src='assets/img/alsi/2.png'
                                                    class=' absolute inset-0 w-full h-full object-contain transition duration-300 card-bg-hover'
                                                    alt='' loading='lazy' width='704' height='1024' data-index='' />
                                            </a>
                                            <div class='text-center mb-6'>
                                                <div class='h4 uppercase mb-2 font-alter'>lorem lorem lorem</div>
                                                <div class='h6 uppercase'>
                                                    <span class="font-alter" data-js-grassdoor-product-price>250
                                                        ml</span>
                                                </div>
                                            </div>
                                            <div class='flex justify-center' data-js-grassdoor-product-form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide relative div-swipper">
                                        <div class='relative mr-2 ' data-id="1555" data-is-bundle=""
                                            data-js-grassdoor-product>
                                            <div
                                                class='absolute top-30px left-0 rounded-2xl has-shadow uppercase text-12px tracking-1px py-2 px-4 z-10 font-alter div-10'>
                                                1943
                                            </div>
                                            <a href='#' class='w-full relative mb-6 pt-150p block card'>
                                                <img src='assets/img/alsi/1.png'
                                                    class=' absolute inset-0 w-full h-full object-contain transition duration-300'
                                                    alt='' loading='lazy' width='734' height='1068' data-index='' />
                                                <img src='assets/img/alsi/1.png'
                                                    class=' absolute inset-0 w-full h-full object-contain transition duration-300 card-bg-hover'
                                                    alt='' loading='lazy' width='704' height='1024' data-index='' />
                                            </a>
                                            <div class='text-center mb-6'>
                                                <div class='h4 uppercase mb-2 font-alter'>lorem lorem lorem</div>
                                                <div class='h6 uppercase'>
                                                    <span class="font-alter" data-js-grassdoor-product-price>250
                                                        ml</span>
                                                </div>
                                            </div>
                                            <div class='flex justify-center' data-js-grassdoor-product-form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-pagination lg:hidden"></div>
                            </div>
                        </carousel-component>
                    </div>
                </div>
            </div>

            <div class='
            relative
            pt-16
            pb-24
            lg:pt-24
            lg:pb-8
            z-[5]
            div-11
        ' data-section='quotes'>
                <div class='absolute top-px left-0 right-0 transform -translate-y-full'>
                    <i class="fas fa-arrow-left icon-arrow"></i>
                </div>
                <div class='
                    absolute
                    top-1/2
                    transform
                    -translate-y-1/2
                    -left-150px
                    hidden
                    lg:block
                    w-[441px]
                    h-[565px]
                '>
                    <img src='assets/img/alsi/ice1.png' class=' object-center object-cover block w-full h-full' alt=''
                        loading='lazy' width='441' height='565' data-index='' />
                </div>
            </div>
            <div class='pt-16 lg:pt-40 lg:pb-48 relative div-12' data-section='split'>
                <div class='absolute -left-40px top-1/2 lg:w-28'>
                    <div class='w-full pt-100p'>
                        <img src="assets/img/alsi/music.png" alt="">
                    </div>
                </div>
                <div class='container mx-auto px-4 relative z-20'>
                    <div class='lg:w-7/12 w-full lg:text-left text-center relative'>
                        <div class='absolute right-30px bottom-0 w-12 lg:w-16'>
                            <div class='w-full pt-100p'>
                                <img src="assets/img/alsi/music.png" alt="">
                            </div>
                        </div>
                        <div class='absolute right-80px bottom-80px w-6'>
                            <div class='w-full pt-100p'>
                                <img src="assets/img/alsi/music.png" alt="">
                            </div>
                        </div>
                        <div class='
                        uppercase
                        pb-[38px]
                        lg:pb-16
                      '>
                            <h3 class='h1 mb-6 lg:mb-10 font-alter'>IT’S ALSI COLA<br />WITHOUT<br /> Suger</h3>
                            <div class='
                            h6
                            mx-auto
                            lg:ml-0
                            w-full
                            max-w-[260px]
                            lg:max-w-[288px]
                        '>
                            </div>
                            <div class='
                            relative
                            bottom-[-68px]
                            lg:bottom-0
                            lg:mt-[64px]
                            h-[62px]
                          '>
                                <a href='#' class='
            
            rounded-full
            overflow-hidden
            inline-block
            tracking-0_04em
            text-32px
            font-gotham-condensed
            uppercase
            leading-none
            font-bold
            whitespace-nowrap
            button
            border-2
          ' data-id='3628760' data-is-bundle=''>

                                    <span class='flex items-center w-full'>
                                        <span
                                            class='flex items-center justify-center h-full p-6 icon-arrow-container rounded-full font-alter'>
                                            call us
                                        </span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='lg:w-5/12 lg:absolute lg:right-0 lg:top-0 lg:bottom-0 w-full pt-100p lg:pt-0 relative'>
                    <img src='assets/img/a2.png' class='image-fill ' alt='' loading='lazy' width='120' height='160'
                        data-index='' />
                </div>
            </div>
            <div class='mtt-mbb relative div-div1' data-section='product-carousel'>
                <div class='overflow-hidden'>
                    <div class='container mx-auto px-4'>
                        <carousel-component data-id='product_carousel-4'>
                            <div class='flex justify-center lg:justify-between w-full lg:mb-16 mb-10'>
                                <div class='lg:w-3/4'>
                                    <h2 class='h2 uppercase lg:text-left text-center font-alter div-div2'>
                                        ALSI
                                        COLAFANN
                                        FAVES</h2>
                                </div>
                                <div class='lg:flex gap-3 hidden lg:items-end lg:w-1/4 justify-end'>
                                    <div>
                                        <button class='w-16 js-previous arrow rounded-full border-2 '
                                            aria-label='Navigate to previous card' data-id='9848469'>
                                            <i class="fas fa-arrow-left icon-arrow"></i>
                                        </button>
                                    </div>
                                    <div>

                                        <button class='w-16 js-next arrow rounded-full border-2 '
                                            aria-label='Navigate to next card' data-id='2529069'>
                                            <i class="fas fa-arrow-right icon-arrow"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <!-- Slider main container -->
                            <div class="swiper pb-20">

                                <!-- Additional required wrapper -->
                                <div class="swiper-wrapper">
                                    <!-- Slides -->

                                    <div class="swiper-slide relative div-div2">
                                        <div class='relative mr-2 ' data-id="40" data-is-bundle="1"
                                            data-js-grassdoor-product>
                                            <a href='#' class='w-full relative mb-6 pt-150p block card'>
                                                <img src='assets/img/alsipost1.jpg'
                                                    class=' absolute inset-0 w-full h-full object-contain transition duration-300'
                                                    alt='' loading='lazy' width='735' height='1068' data-index='' />

                                                <img src='assets/img/alsipost9.png'
                                                    class=' absolute inset-0 w-full h-full object-contain transition duration-300 card-bg-hover'
                                                    alt='' loading='lazy' width='734' height='1068' data-index='' />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="swiper-slide relative div-div2">
                                        <div class='relative mr-2 ' data-id="3698" data-is-bundle=""
                                            data-js-grassdoor-product>
                                            <a href='#' class='w-full relative mb-6 pt-150p block card'>

                                                <img src='assets/img/alsipost7.png'
                                                    class=' absolute inset-0 w-full h-full object-contain transition duration-300'
                                                    alt='' loading='lazy' width='734' height='1067' data-index='' />

                                                <img src='assets/img/alsipost8.png'
                                                    class=' absolute inset-0 w-full h-full object-contain transition duration-300 card-bg-hover'
                                                    alt='' loading='lazy' width='734' height='1067' data-index='' />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="swiper-slide relative div-div2">
                                        <div class='relative mr-2 ' data-id="3695" data-is-bundle=""
                                            data-js-grassdoor-product>
                                            <a href='#' class='w-full relative mb-6 pt-150p block card'>
                                                <img src='assets/img/alsipost3.jpg'
                                                    class=' absolute inset-0 w-full h-full object-contain transition duration-300'
                                                    alt='' loading='lazy' width='734' height='1067' data-index='' />

                                                <img src='assets/img/alsipost2.jpg'
                                                    class=' absolute inset-0 w-full h-full object-contain transition duration-300 card-bg-hover'
                                                    alt='' loading='lazy' width='734' height='1068' data-index='' />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="swiper-slide relative div-div2">
                                        <div class='relative mr-2 ' data-id="42" data-is-bundle="0"
                                            data-js-grassdoor-product>
                                            <a href='#' class='w-full relative mb-6 pt-150p block card'>

                                                <img src='assets/img/alsipost4.jpg'
                                                    class=' absolute inset-0 w-full h-full object-contain transition duration-300'
                                                    alt='' loading='lazy' width='735' height='1067' data-index='' />

                                                <img src='assets/img/alsi.png'
                                                    class=' absolute inset-0 w-full h-full object-contain transition duration-300 card-bg-hover'
                                                    alt='' loading='lazy' width='735' height='1068' data-index='' />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="swiper-slide relative div-div2">
                                        <div class='relative mr-2 ' data-id="40" data-is-bundle="1"
                                            data-js-grassdoor-product>
                                            <a href='#' class='w-full relative mb-6 pt-150p block card'>
                                                <img src='assets/img/alsipost5.jpg'
                                                    class=' absolute inset-0 w-full h-full object-contain transition duration-300'
                                                    alt='' loading='lazy' width='735' height='1068' data-index='' />

                                                <img src='assets/img/l1.png'
                                                    class=' absolute inset-0 w-full h-full object-contain transition duration-300 card-bg-hover'
                                                    alt='' loading='lazy' width='734' height='1068' data-index='' />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="swiper-slide relative div-div2">
                                        <div class='relative mr-2 ' data-id="40" data-is-bundle="1"
                                            data-js-grassdoor-product>
                                            <a class='w-full relative mb-6 pt-150p block card'>
                                                <img src='assets/img/alsipost6.jpg'
                                                    class=' absolute inset-0 w-full h-full object-contain transition duration-300'
                                                    alt='' loading='lazy' width='735' height='1068' data-index='' />

                                                <img src='assets/img/s3.png'
                                                    class=' absolute inset-0 w-full h-full object-contain transition duration-300 card-bg-hover'
                                                    alt='' loading='lazy' width='734' height='1068' data-index='' />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-pagination lg:hidden"></div>
                            </div>
                        </carousel-component>
                    </div>
                </div>
            </div>

            <div class='pb-24 relative div-3 text-center'>
                <div class='overflow-hidden text-center'>
                    <div class='container mx-auto px-4 text-center d-flexes'>

                        <h2 class=' 
                      w-full
                      lg:w-2/3
                      mx-auto
                      max-w-[838px]
                      text-center
                      h2
                      color-blues
                      uppercase font-alter
                    '>
                            Contact Us
                        </h2>
                    </div>
                    <div class='container mx-auto px-4 mtt-4 pb-8'>
                        <div>
                            <div class="d-flexess">
                            <div class="mb-3 d-flexess">
                                <!-- <label for="" class=" label-input font-alter">Full Name</label> -->
                                <input type="text" class="ml-2 input-groups font-alter" id="" placeholder="Your Name">
                            </div>
                            <div class="mb-3 d-flexess">
                                <!-- <label for="" class=" label-input font-alter">Email Address</label> -->
                                <input type="email" class="ml-2 input-groups font-alter" id="" placeholder="Your Email">
                            </div>
                        </div>
                        <div class="d-flexess">
                            <div class="mb-3 d-flexess">
                                <!-- <label for="" class=" label-input font-alter">Phone Number</label> -->
                                <input type="text" class="ml-2 input-groups font-alter" id="" placeholder="Your Phone Number">
                            </div>
                            <div class="mb-3 d-flexess">
                                <!-- <label for="" class=" label-input font-alter">Your Subject</label> -->
                                <input type="text" class="ml-2 input-groups font-alter" id="" placeholder="Your Subject">
                            </div>
                        </div>
                            <div class="mb-3 d-flexess">
                                <!-- <label for="" class="label-input font-alter">Your Message</label> -->
                                <textarea class="input-groupss font-alter" id="" rows="3"
                                    placeholder="Your Message here"></textarea>
                            </div>
                            <div class="mb-3 d-flexess">
                                <button class="font-alter btn-sub">
                                    Send Message
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </main>

    <footer class="site-footer">
        <div class="wrapper">
            <div class='relative z-40 div-div3'>
                <div class='absolute top-px left-0 right-0 transform -translate-y-full w-full'>
                    <svg class='w-full' viewBox="0 0 1440 92" fill="#f0ffff" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M723.5 0C373.5 0 245.5 104.647 0 19.367L1.52588e-05 92H1440V43.0853C1171 65.7242 1073.5 0 723.5 0Z"
                            fill="#f0ffff" />
                    </svg>
                </div>
                <div class='
                absolute
                -top-70px
                lg:-top-[84px]
                -left-40px
                lg:left-[195px]
                rotate-20
                transform
                w-[120px]
                md:w-[195px]
                h-[229px]
                md:h-[378px]
              '>
                    <img src='assets/img/alsi/5.png'
                        class=' filter-shadow object-center object-cover block w-full h-full h-widths' alt=''
                        loading='lazy' width='276' height='324' data-index='' />
                </div>

                <div class='absolute inset-0 w-full h-full overflow-hidden'>
                    <div class='absolute -left-10px top-1/2 lg:top-480px w-10'>
                        <div class='w-full pt-100p'>
                            <img src="assets/img/alsi/ice1.png" alt="" />
                        </div>
                    </div>

                    <div class='absolute lg:left-70px -left-10px lg:top-300px top-200px w-10'>
                        <div class='w-full pt-100p'>
                            <img src="assets/img/alsi/ice1.png" alt="" />
                        </div>
                    </div>

                    <div class='absolute left-300px bottom-400px w-10 lg:block hidden'>
                        <div class='w-full pt-100p'>
                            <img src="assets/img/alsi/ice1.png" alt="" />
                        </div>
                    </div>

                    <div class='absolute right-70px bottom-400px w-10 lg:block hidden'>
                        <div class='w-full pt-100p'>
                            <img src="assets/img/alsi/ice1.png" alt="" />
                        </div>
                    </div>

                    <div class='
                absolute
                right-40px
                lg:right-[-35px]
                top-1/2
                lg:top-[465px]
                w-20
                lg:w-32
                transform
                -translate-y-8
                lg:translate-y-0
              '>
                        <div class='w-full pt-100p'>
                            <img src="assets/img/alsi/ice1.png" alt="" />
                        </div>
                    </div>

                    <div class='absolute lg:right-300px -right-10px lg:top-100px top-10px lg:w-10 w-12'>
                        <div class='w-full pt-100p'>
                            <img src="assets/img/alsi/ice1.png" alt="" />
                        </div>
                    </div>

                    <div class='
                    absolute
                    top-[630px]
                    lg:top-[148px]
                    -right-65px
                    -rotate-15
                    transform
                    w-[120px]
                    md:w-[195px]
                    h-[229px]
                    md:h-[378px]
                  '>


                        <img src='assets/img/alsi/lemong.png'
                            class=' filter-shadow object-center object-cover block w-full h-full lemowidth' alt=''
                            loading='lazy' width='100' height='100' data-index='' />
                    </div>


                    <div class='
                    absolute
                    top-[542px]
                    -left-45px
                    -rotate-20
                    transform
                    lg:block
                    hidden
                    w-[195px]
                    h-[378px]
                  '>


                        <!-- <img src='assets/img/alsi/lemon1.png'
                            class=' filter-shadow object-center object-cover block w-full h-full lemowidth' alt='' loading='lazy'
                            width='100' height='100' data-index='' /> -->
                    </div>

                </div>

                <div class='container mx-auto px-6'>
                    <!-- <div class='text-center h2 mb-12 lg:mb-8 uppercase' style='color: #09a0be'>
                        Need help ordering?
                    </div> -->
                    <div class='flex justify-center flex-wrap lg:mb-24 mb-8'>

                        <div class='flex lg:block justify-center lg:px-4 lg:py-0 py-3 lg:w-auto w-full'>

                            <style>

                            </style>
                            </a>
                        </div>
                    </div>
                </div>


                <div class='
            relative
            pt-[78px]
            lg:pt-[124px]
            pb-[76px]
            lg:pb-[118px]
            z-10
            d-footer
          '>
                    <div class='container mx-auto px-6'>
                        <div class='flex flex-wrap justify-between lg:gap-0 gap-20 d-flexm'>
                            <div class='w-full lg:w-1/2 text-teal d-flexs '>
                                <div class='mb-4 lg:mb-6 font-gotham-condensed text-48px uppercase font-medium lg:font-bold leading-none'
                                    style='color: #09a0be'>
                                    <img src="assets/img/alsi/logo.png" width="150
                                   " alt="">
                                </div>
                                <div class='mb-12 font-alter color-a'>
                                    lorem lorem lorem lorem lorem lorem
                                </div>
                                <div class='text-28px font-gotham-condensed uppercase leading-none'>

                                </div>
                            </div>
                            <div class='w-full lg:w-5/12 text-teal uppercase'>
                                <div class='grid grid-cols-2 gap-12 eyebrow1'>

                                    <div>
                                        <ul class='grid gap-8 mb-10 font-alter color-a'>

                                            <li>
                                                <a class="font-alter" href='#'>Contact</a>
                                            </li>
                                            <li>
                                                <a class="font-alter" href='#'>Privacy Policy</a>
                                            </li>
                                            <li>
                                                <a class="font-alter" href='#'>Terms & Conditions</a>
                                            </li>
                                        </ul>

                                        <div class='flex gap-6 flex-wrap color-a '>
                                            <a href='#'>
                                                <i class="fab fa-youtube"></i>
                                            </a>

                                            <a href='#'>
                                                <i class="fab fa-twitter"></i>
                                            </a>

                                            <a href='#'>
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                            <a href='#'>
                                                <i class="fab fa-instagram"></i>
                                            </a>
                                            <a href='#'>
                                                <i class="fab fa-tiktok"></i>
                                            </a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class='bg-teal py-4 text-center text-10px div-div4'>
                <div class='container mx-auto px-6 flex items-center justify-center flex-wrap'>
                    <span class="font-alter" style="font-size:16px">&copy; 2022 ALSI COLA</span>
                </div>
            </div>
        </div>
    </footer>

    <script data-minify="1" type='text/javascript' src='assets/js/main.js' id='my-js-js'></script>
    <script>
        window.onload = function () {
            document.body.classList.add('loaded_hiding');
            window.setTimeout(function () {
                document.body.classList.add('loaded');
                document.body.classList.remove('loaded_hiding');
            }, 500);
        }
    </script>
</body>

</html>